<div class="container mx-auto ">
  <div class="flex justify-between p-3 my-4">
    <div class="flex items-center">
      <ng-container *ngIf="showBackBtn">
        <button class="btn btn-neutral mr-4" routerLink="/">Back</button>
      </ng-container>
      <h1 class="text-5xl">{{title}}</h1>
    </div>
    <ng-container *ngIf="showCreateBtn">
      <a class="btn btn-primary" routerLink="/create-note">Create Note</a>
    </ng-container>
    <ng-continer >
      <div class="carousel rounded-box">
        <div class="carousel-item">
          <img
            src="https://img.daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.webp"
            alt="Burger" />
        </div>
        <div class="carousel-item">
          <img
            src="https://img.daisyui.com/images/stock/photo-1565098772267-60af42b81ef2.webp"
            alt="Burger" />
        </div>
        <div class="carousel-item">
          <img
            src="https://img.daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.webp"
            alt="Burger" />
        </div>
        <div class="carousel-item">
          <img
            src="https://img.daisyui.com/images/stock/photo-1494253109108-2e30c049369b.webp"
            alt="Burger" />
        </div>
        <div class="carousel-item">
          <img
            src="https://img.daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.webp"
            alt="Burger" />
        </div>
        <div class="carousel-item">
          <img
            src="https://img.daisyui.com/images/stock/photo-1559181567-c3190ca9959b.webp"
            alt="Burger" />
        </div>
        <div class="carousel-item">
          <img
            src="https://img.daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.webp"
            alt="Burger" />
        </div>
      </div>
    </ng-continer>
  </div>
</div>